



.main{
    border: red solid 5px;
    height: 800px;
    width: 800px;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.first{
    border: green solid 3px;
    background: green;
    height: 150px;
    width: 150px;
    display: grid;
}