
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}


.card {
  display: flex;
  max-width: 1100px;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card-left {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-left h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.accent {
  color: hsl(277, 64%, 61%);
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.stats {
  display: flex;
  gap: 4rem;
}

.stats h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.stats p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0.5rem;
}


.card-right {
  position: relative;
  flex: 1;
}

.card-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  background-color: hsla(277, 64%, 61%, 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}


.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 900px) {
  .card {
    flex-direction: column-reverse;
    text-align: center;
  }

  .card-left {
    padding: 2rem;
  }

  .stats {
    flex-direction: column;
    gap: 2rem;
  }
}
