
/* 
<!-- hover- არის ერთ-ერთი 'გარდაქმნის' სახე, რომელიც აქტიურდება კურსორის მიტანის შედეგად.
     მას შეგვიძლია გავუწეროთ დრო, ფერი, და მრავალი სხვა რამ -->

<!-- მაგალითად: -->
 */

button:hover{
    transform: 0.5s ease;
    background: red;
    color: blue;

}


 /* <!-- active- არის ასევე ერთ-ერთი 'გარდაქმნის' სახე, რომელიც აქტიურება კურსორით დაჭერის შედეგად. --> */


