



#parent{
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;

}

#child{
    height: 50px;
    width: 50px;
    background: blue;
    position: relative;
    right: 20px;
    bottom: 30px;
}