* {
    
    box-sizing: border-box
}

header {
    top: 0;
    left: 0;
    width: 1600px;
    padding: 10px;
    background: #432d5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
    
    
  
}


    body{
            background-color:white;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0px;
            
    }



.logo {
    font-size: 1cm;
    color: rgb(184, 152, 190);
    margin-right: 130px;
}



.navigation a {
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    font-size: 17.6px;
    color:rgb(184, 152, 190);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation button {
    width: 130px;
    height: 50px;
    background:transparent;
    border: 2px solid rgb(184, 152, 190);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 500;
    margin-left: 40px;
    color:rgb(184, 152, 190);
    transition: 0.5s;
}


.navigation button:hover {
    background: white

}

.search {
    min-width: 300px;
    max-width: 100%;
    border: 1px solid #d1d0d1;
    background: transparent;
    border-radius: 5px;
    height: 40px;
    margin: 33px;
    padding-left: 10px;
    color: rgb(184, 152, 190);;
    font-size: medium;
}

.header_section {
    width: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}

.abt {
    background: #d0bbe8;
    overflow: hidden;
}

.heading h1 {
    color: #432d5a;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:65px auto;
}

.abt-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    
}

.abt-content h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color:#432d5a;
}

.abt-content p {
    font-size: 24px;
  
    margin-bottom: 40px;
    color:rgb(255, 255, 255);
}

.abt-image {
    flex: 1;
    width: 600px;
    margin: auto;
}

.abt-content button {
    display: inline-block;
    background-color: #ffffff;
    color:#d0bbe8;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.abt-content button:hover {
    background-color: #432d5a;
    transform: scale(1.1);
}