body{
  margin: 0;
  padding: 20px;
  background: #fff;
}

.responsive-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.responsive-grid > div{
  background: #222;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
  border-radius: 8px;
}
