.grid-container-3x3{
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.grid-container-3x3 div{
  background-color: #2196f3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
