* {
    margin: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(84, 243, 84);
    font-size: 30px;


}



.gallery {
    margin-left: 40px;
}
