


*{
    font-family: Arial, Helvetica, sans-serif;
}


#bttn1{
    background: red;
    color: white;
    border: none;
    height: 30px;
    width:50px;

}

#bttn1:hover{
    background-color: black;
    color: red;
    border: 3px black solid;
    transition: 0.2s ease;
}

#bttn2{
    background: blue;
    color: white;
    border: none;
    height: 40px;
    width:60px;

}

#bttn2:hover{
    background-color: black;
    color: blue;
    border: 5px black solid;
    transition: 0.2s ease;
}
#bttn3{
    background: greenyellow;
    color: white;
    border: none;
    height: 50px;
    width:70px;

}

#bttn3:hover{
    background-color: black;
    color: greenyellow;
    border: 10px black solid;
    transition: 0.2s ease;
}